body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
}

main.card {
  width: 100%;
  max-width: 300px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 20px;
  margin: auto;
}

.card__images {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card__images img {
  width: 100%;
  display: block;
}

#info {
  margin-top: 20px;
}

.card__title h1 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#info .card__description {
  color: hsl(215, 51%, 70%);
  font-size: 0.9rem;
  line-height: 1.5;
}

.card__images-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 255, 247, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card__images:hover .card__images-layer {
  opacity: 1;
}

.card__title {
  font-size: 1.2rem;
  color: white;
  margin-top: 15px;
}

.card__description {
  font-size: 0.9rem;
  margin: 10px 0;
}

.card__time {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 0.85rem;
}

.card__time-left,
.card__time-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__creator{
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 15px;
  font-size: 0.85rem;
}
.card__creator p {
  margin: 0;
  font-size: 0.85rem;
  color: hsl(215, 51%, 70%);
}

.card__creator strong {
  color: white;
}


.card__creator img {
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.attribution {
  font-size: 0.7rem;
  margin-top: 15px;
  text-align: center;
}
